{% extends 'base.html' %}



{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock navbar %}
                    
{% block content %}
    <div class="d-flex justify-content-center m-4">
        <h1 style="color: black; text-align: center" class="">This Is BMI CALCULATOR LIST 
<a target= "_blank" class="btn btn-warning m-3" href="{% url 'calculator:calculator_add' %}">ADD</a>
</h1>
    </div>



    <table class="table table-striped">
        <tr>
            <th>USERNAME</th>
            <th>Weight</th>
            <th>Height</th>
            <th>BMI</th>
            <th>Created</th>
            <th>Modified</th>
            <th>ACTION</th>
            
        </tr>
        
        {% for lists in list %}
            <tr>
                <td> {{ lists.user}}</td>
                <td>{{lists.weight}}</td>
                <td>{{lists.height}}</td>
                <td>{{lists.bmi}}</td>
                <td>{{lists.created}}</td>
                <td>{{lists.modified}}</td>
                <td>
                <a class="btn btn-danger" href="{% url 'calculator:calculator_edit' lists.id %}">-></a>
                <a class="btn btn-danger" href="{% url 'calculator:calculator_delete' lists.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}  